---
layout: main 
title: Getting started with .NET Core
---
<!-- INTRO TO GETTING STARTED -->
<div class="row getting-started-intro">
    <h2>It is very easy to get started with .NET Core on your platform of choice.</h2>
    <h4>For ASP.NET Core 1.0 + .NET Core RC instructions, please go to the <a href="http://get.asp.net/">Get ASP.NET Core 1.0 website</a>.</h4>
    <h4>You just need a shell, a text editor and 10 minutes of your time. Ready? Set? Let's go!</h4>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-lg trail-start btn-gs" data-trail-target="windows-trail">Windows</button>
      <button type="button" class="btn btn-default btn-lg trail-start btn-gs" data-trail-target="linux-trail">Ubuntu (14.04)</button>
      <button type="button" class="btn btn-default btn-lg trail-start btn-gs" data-trail-target="macosx-trail">OS X (10.11)</button>
      <button type="button" class="btn btn-default btn-lg trail-start btn-gs" data-trail-target="docker-trail">Docker</button>
    </div>
</div>
<div class="row">
    <div class="getting-started-container">
    {% include gs/windows_gs.html %}
    {% include gs/linux_gs.html %}
    {% include gs/macosx_gs.html %}
    {% include gs/docker_gs.html %}

    <div class="step step-none" id="step-final">
      <div class="step-number"><span class="fa fa-check"></span></div>
      <h3>And you're set!</h3>
      <p>You now have .NET Core running on your machine! You can visit the <a href="http://github.com/dotnet/core/">.NET Core repo</a> for more samples. You can also visit <a href="https://github.com/dotnet/coreclr/">CoreCLR GitHub repo</a>, <a href="https://github.com/dotnet/corefx/">CoreFX GitHub repo</a> or <a href="https://github.com/dotnet/cli">.NET Command Line Interface repo</a> for more information, or use <a href="/docs/">documentation</a> and <a href="/support/">social resources</a> to learn more about .NET Core!</p>
    </div>

  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="/js/trails.js"></script>
