<footer>
  <div class="inner-footer">
      <p>© Microsoft Corporation</p>
      <p>
        <a href="https://www.github.com/StationQ/Liquid" target="_blank"><span class="fa fa-stack fa-lg">
          <span class="fa fa-square-o fa-stack-2x"></span>
          <span class="fa fa-github fa-stack-1x"></span>
        </span></a>
        <a href="https://twitter.com/MSFTResearch" target="_blank"><span class="fa fa-stack fa-lg">
          <span class="fa fa-square-o fa-stack-2x"></span>
          <span class="fa fa-twitter fa-stack-1x"></span>
        </span></a>
        <a href="https://www.StationQ.com" target="_blank"><span class="fa fa-stack fa-lg">
          <span class="fa fa-square-o fa-stack-2x"></span>
          <span class="fa fa-info-circle fa-stack-1x"></span>
        </span></a>
      </p>
    </div>
</footer>
