<div class="container hero">

  <div class="starter-template">
    <h1 class="dotnet">LIQ&#x1D448;&#x1D456;&#x23D0;&#x232A;</h1>
    <p class="lead">The Language Integrated Quantum Operations Simulator</p>
    <!-- Standard button -->
    <a href="{{ site.github.url }}/getting-started/" class="btn-hero-core">Getting started</a>
    <a href="http://research.microsoft.com/en-us/projects/liquid/" class="btn-hero-core">About LIQ&#x1D448;&#x1D456;&#x23D0;&#x232A;</a>

  </div>

</div><!-- /.container -->
