<nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <a href="http://www.dotnetfoundation.org/"><img height="50px" src="{{ pathPrefix }}../images/Logo_DotNet.png" style="float:right;"/></a>
       <div class="navbar-header ">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/"><span class="dotnet">.NET Core</span></a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li><a href="/getting-started/">Getting started</a></li>
           <li><a href="/about/">About</a></li>
           <li><a href="/docs/">Documentation</a></li>
           <li><a href="/api/index.html">API reference</a></li>
           <li><a href="/support/">Support</a></li>
           <li><a href="/porting/">Porting</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
