<div id="vp-container">
  <div id="initial-vps">
    <div class="row value-props">
      <div class="col-lg-4 text-center animated fadeInLeft">
        <span class="fa fa-cubes fa-3x"></span>
        <h2 class="value-prop-heading">Flexible</h2>
        <p>LIQ&#x1D448;&#x1D456;&#x23D0;&#x232A; can run with built-in samples, from scripts or as a runtime in a custom application. </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center  animated fadeIn">
        <span class="fa fa-code fa-3x"></span>
        <h2 class="value-prop-heading">Managed</h2>
        <p>Managed runtimes make code easy to write and guarantee safe execution. .NET manages memory with a garbage collector, compiles your code with a JIT compiler. </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center animated fadeInRight">
        <span class="fa fa-linux fa-3x"></span>
        <h2 class="value-prop-heading">Cross-platform</h2>
        <p>You can create LIQ&#x1D448;&#x1D456;&#x23D0;&#x232A; simulations that run on multiple OSes and CPUs. LIQ&#x1D448;&#x1D456;&#x23D0;&#x232A; runs on Windows, OSX and Linux. </p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
  <div id="rest-vps">
    <div class="row value-props">
      <div class="col-lg-4 text-center">
        <span class="fa fa-magic fa-3x"></span>
        <h2 class="value-prop-heading">Visualization</h2>
        <p>Circuits may be rendered in either Web compatible SVG graphics or LaTaX compatible TikZ. Many formatting options are available. </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <span class="fa fa-wrench fa-3x"></span>
        <h2 class="value-prop-heading">Sophisticated</h2>
        <p>A wide range of included optimizations allow for large circuits with a significant number of qubits to be simulated.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <span class="fa fa-cogs fa-3x"></span>
        <h2 class="value-prop-heading">Extensible</h2>
        <p>Runtime modularity allows for an extensibility model where the user can create their own quantum gates and circuits as hierarchical elements in a sophisticated library.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row value-props">
      <div class="col-lg-4 text-center">
        <span class="fa fa-server fa-3x"></span>
        <h2 class="value-prop-heading">Documented</h2>
        <p>LIQ&#x1D448;&#x1D456;&#x23D0;&#x232A; comes with a large documentation set including an extensive Users's Manual, API documentation (both compiled help and HTML) as well as an extensive samples suite.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <span class="fa fa-plug fa-3x"></span>
        <h2 class="value-prop-heading">Portable</h2>
        <p>LIQ&#x1D448;&#x1D456;&#x23D0;&#x232A; is portable across various platforms, both in terms of operating systems and processor architectures. Code written for it is also portable across application stacks, such as Mono, making it feasible to move applications across app stacks as well.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <span class="fa fa-users fa-3x"></span>
        <h2 class="value-prop-heading">Community</h2>
        <p>We are encouraging community interactions via our GitHub web site. Users can provide feedback, sample circuits for others to use and discussion of new ideas for extending the core runtime. </p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <button class="btn btn-default show-value-props"><span class="fa fa-chevron-down fa-2x"></span></button>
  </div>
</div>

