<div id="vp-container">
  <div id="initial-vps">
    <div class="row value-props">
      <div class="col-lg-4 text-center animated fadeInLeft">
        <span class="fa fa-cubes fa-3x"></span>
        <h2 class="value-prop-heading">Modular</h2>
        <p>.NET Core is a set of runtime, library and compiler components. Microsoft uses these components in various configurations for device and cloud workloads. You can do the same for your app or service.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center  animated fadeIn">
        <span class="fa fa-code fa-3x"></span>
        <h2 class="value-prop-heading">Managed</h2>
        <p>Managed runtimes make code easy to write and guarantee safe execution. .NET Core manages memory with a garbage collector, compiles your code with a JIT compiler or ahead of time with .NET Native. </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center animated fadeInRight">
        <span class="fa fa-linux fa-3x"></span>
        <h2 class="value-prop-heading">Cross-platform</h2>
        <p>You can create .NET Core apps that run on multiple OSes and CPUs. .NET Core runs on Windows. Ports are in progress for Linux, OS X and FreeBSD, as is integration with the LLVM compiler.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
  <div id="rest-vps">
    <div class="row value-props">
      <div class="col-lg-4 text-center">
        <span class="fa fa-magic fa-3x"></span>
        <h2 class="value-prop-heading">Modern</h2>
        <p>.NET Core brings with it a set of languages, led  by C#, with VB and F# with support for modern language features, like generics, Language Integrated Query (LINQ), async support and more. It is backed by a managed compiler called "Roslyn" that is exposed to the runtime, usable as a service.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <span class="fa fa-wrench fa-3x"></span>
        <h2 class="value-prop-heading">Interoperable</h2>
        <p>The managed runtime of .NET Core allows for a streamlined and easy interoperability with native code through several ways. Each of them allows for a rich set of scenarios not to mention great performance.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <span class="fa fa-cogs fa-3x"></span>
        <h2 class="value-prop-heading">Extensible</h2>
        <p>Runtime modularity allows for an extensibility model through a good set of abstractions for adding new components to the actual runtime and its class library, but also through its package manager NuGet, which allows for a powerful componentization strategies.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row value-props">
      <div class="col-lg-4 text-center">
        <span class="fa fa-server fa-3x"></span>
        <h2 class="value-prop-heading">Adaptable</h2>
        <p>.NET Core is versatile in multiple scenarios, from client applications, across web, server workloads to mobile apps. With its "pay as you go" model, .NET Core can be adapted easily to perform great and provide a rich experience developing for each of these.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <span class="fa fa-plug fa-3x"></span>
        <h2 class="value-prop-heading">Portable</h2>
        <p>.NET Core is portable across various platforms, both in terms of operating systems and processor architectures. Code written for it is also portable across application stacks, such as Mono, making it feasible to move applications across app stacks as well.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <span class="fa fa-users fa-3x"></span>
        <h2 class="value-prop-heading">Open</h2>
        <p>.NET Core is backed by an open ECMA standard that outlines all of its capabilities which can be used to make a new reference implementation. A lot of projects did exactly this, and there are various implementation out there, Mono and Unity being the most popular, non-Microsoft ones.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <button class="btn btn-default show-value-props"><span class="fa fa-chevron-down fa-2x"></span></button>
  </div>
</div>

