    <!-- DOCKER GETTING STARTED -->

    <div class="step step-none docker-trail" id="step-1">
      <div class="step-number">1</div>
      <h3>Install Docker</h3>
      <p>Before you can try out the .NET Core Docker base images, you should install Docker. Refer to <a href="http://docs.docker.com/mac/started/">Mac</a> or <a href="http://docs.docker.com/windows/started/">Windows</a> or <a href="http://docs.docker.com/linux/started/">Linux</a> getting started instructions for Docker.</p>
    </div>
    <div class="step step-none docker-trail" id="step-2">
      <div class="step-number">2</div>
      <h3>Run the container using dotnet base image</h3>
      <p>>The following command will get you a running container with the toolchain, straight off of Microsoft's <a href="https://hub.docker.com/r/microsoft/dotnet/">Docker Hub.</a></p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>docker run -it microsoft/dotnet:latest</p>
        </div>
      </div>
    </div>

    </div>
    <div class="step step-none docker-trail" id="step-2">
      <div class="step-number">2</div>
      <h3>Initialize some code</h3>
      <p>Now that you are in a running container, let's initialize a sample Hello World application!</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>mkdir hello_world</p>
          <p><span class="prompt unix-prompt"></span>cd hello_world</p>
          <p><span class="prompt unix-prompt"></span>dotnet new</p>
        </div>
      </div>
    </div>

    <div class="step step-none docker-trail" id="step-3">
      <div class="step-number">3</div>
      <h3>Run the application</h3>
      <p>After the init command, the only thing we need is to restore the dependencies and run the application.</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>dotnet restore</p>
          <p><span class="prompt unix-prompt"></span>dotnet run</p>
        </div>
      </div>
    </div>

    <!-- END OF DOCKER GETTING STARTED -->

