    <!-- LINUX GETTING STARTED -->

    <div class="step step-none linux-trail" id="step-1">
      <div class="step-number">1</div>
      <h3>Install mono and fsharp</h3>
      <p>Make sure you remove any previous installations of mono or fsharp on your machine to avoid incompatibilities.</p>
      <p>Now do the install:</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
            <pre style="background-color:black;color:white;border-style:none;">
$ sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
$ echo "deb http://download.mono-project.com/repo/debian wheezy main" | 
            sudo tee /etc/apt/sources.list.d/mono-xamarin.list
$ sudo apt-get update
$ sudo apt-get install mono-complete fsharp
            </pre>
        </div>
      </div>
    </div>
    <div class="step step-none linux-trail" id="step-2">
      <div class="step-number">2</div>
      <h3>Install LIQ&#119880;&#119894;&#x23D0;&#x232A;</h3>
      Download the <a href="http://github.com/StationQ/Liquid">zip file</a> from GitHub (there's a <strong>Download Zip</strong> button near the top right side of the screen).  
      Then extract the contents into your home directory.
      This will create ~/Liquid-master. Copy to the final destination:
      <p></p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
            <p>$ cd ~/Liquid-master</p>
            <p>$ sudo mkdir /Liquid</p>
            <p>$ sudo chown $USER /Liquid</p>
            <p>$ cp * /Liquid --recursive</p>        
        </div>
      </div>
    </div>
    <div class="step step-none linux-trail" id="step-3">
      <div class="step-number">3</div>
      <h3>Run the app</h3>
      Go into the <strong>/Liquid/linux directory</strong>, run the app and accept the license:
      <p></p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          $ cd /Liquid/linux<br>
          $ mono Liquid.exe <br>
            <pre style="background-color:black;color:white;border-style:none;">
0:0000.0/===================================================================================================
0:0000.0/=    The Language-Integrated Quantum Operations (LIQUi|>) Simulator                               =
0:0000.0/=    is made available under license by Microsoft Corporation                                     =
0:0000.0/=    License terms may be viewed at https://github.com/msr-quarc/Liquid/blob/master/LICENSE.md    =
0:0000.0/=    Please type Y, followed by return, to indicate your acceptance of these terms                =
0:0000.0/===================================================================================================
Y
            </pre>
        </div>
      </div>
    </div>

    <div class="step step-none linux-trail" id="step-4">
      <div class="step-number">4</div>
      <h3>Try a sample</h3>
      Now try running the Quantum "Hello World" ... Teleport:<br>
      (note that there are two underscores in front of Teleport and the program argument has quotation marks because parenthesis are special characters on Linux)
      <p></p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          $ cd /Liquid/linux<br>
          $ mono Liquid.exe "__Teleport()"<br>
        </div>
      </div>
    </div>

    <!-- END OF LINUX GETTING STARTED -->
