    <!-- LINUX GETTING STARTED -->

    <div class="step step-none linux-trail" id="step-1">
      <div class="step-number">1</div>
      <h3>Add the new apt-get feed</h3>
      <p>In order to install .NET Core on Ubuntu, we need to first set up the apt-get feed that hosts the package we need.</p>
      <p><strong>Note:</strong> as of now, the below instructions work on Ubuntu 14.04 and derivatives. New versions are coming up soon! Also, please be aware that this feed is our development feed. As we stabilize we will change feeds where deb packages are stored.</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p>sudo sh -c 'echo "deb [arch=amd64] http://apt-mo.trafficmanager.net/repos/dotnet/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
</p>
          <p>sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893</p>
          <p>sudo apt-get update</p>
        </div>
      </div>
    </div>
    <div class="step step-none linux-trail" id="step-2">
      <div class="step-number">2</div>
      <h3>Install .NET Core</h3>
      <p>Installing .NET Core is a simple thing on Ubuntu. The below will install the package and all of its dependencies.</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p>sudo apt-get install dotnet=1.0.0.001331-1</p>
        </div>
      </div>
    </div>
    <div class="step step-none linux-trail" id="step-3">
      <div class="step-number">3</div>
      <h3>Initialize some code</h3>
      <p>Let's initialize a sample Hello World application!</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
            <p>mkdir hwapp</p>
            <p>cd hwapp</p>
            <p>dotnet new</p>
        </div>
      </div>
    </div>

    <div class="step step-none linux-trail" id="step-4">
      <div class="step-number">4</div>
      <h3>Run the app</h3>
      <p>First, we restore the packages using the <strong>dotnet restore</strong> command and then run the application!</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p>dotnet restore</p>
          <p>dotnet run</p>
        </div>
      </div>
    </div>

    <!-- END OF LINUX GETTING STARTED -->
