<!-- MAC OSX GETTING STARTED -->
    <div class="step step-none macosx-trail" id="step-1">      
        <div class="step-number">1</div>
          <h3>Use the official PKG</h3>
          <p>The best way to install .NET Core on OS X is to use the <a href="https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-osx-x64.latest.pkg">official PKG package</a>. This installer will install the tools and put them on your PATH.</p>
    </div>
    <div class="step step-none macosx-trail" id="step-2">
      <div class="step-number">2</div>
      <h3>Initialize some code</h3>
      <p>Let's initialize a sample Hello World application!</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
            <p>mkdir hwapp</p>
            <p>cd hwapp</p>
          <p>dotnet new</p>
        </div>
      </div>

    </div>

    <div class="step step-none macosx-trail" id="step-3">
      <div class="step-number">3</div>
      <h3>Run the app</h3>
      <p>The first command will restore the packages specified in the <strong>project.json</strong> file, and the second command will run the actuall sample:</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p>dotnet restore</p>
          <p>dotnet run</p>
        </div>
      </div>

    </div>

    <!-- END OF MACOSX GETTING STARTED -->
