<!-- WINDOWS GETTING STARTED -->
    <div class="step step-none windows-trail" id="step-1">
      <div class="step-number">1</div>
      <h3>Install Visual Studio</h3>
      The best way to install Visual Studio is to download the <a href="https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx">official MSI installer</a>. This will install the tools and put them on your PATH.
      Make sure you select F# as one of the languages to install. 
  </div>
    <div class="step step-none windows-trail" id="step-2">
      <div class="step-number">2</div>
      <h3>Install LIQ&#x1D448;&#x1D456;&#x23D0;&#x232A;</h3>
      Download the <a href="http://github.com/StationQ/Liquid">zip file</a> from GitHub (there's a <strong>Download Zip</strong> button near the top right side of the screen).  
      Then extract the contents into C:\
      This will create C:\Liquid-master. Rename the directory to C:\Liquid and you're done!
      <p></p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
            <!-- <pre style="background-color:black;color:white;"> -->
    &gt; dir /b c:\Liquid
    <pre style="background-color:black;color:white;border-style:none;">
03/01/2016  10:14 AM    &lt;DIR&gt;          .
03/01/2016  10:14 AM    &lt;DIR&gt;          ..
03/01/2016  10:14 AM            10,086 AzureGuide.md
03/01/2016  10:14 AM    &lt;DIR&gt;          bin
03/01/2016  10:14 AM    &lt;DIR&gt;          docs
03/01/2016  10:14 AM            17,292 GettingStarted.md
03/01/2016  10:14 AM    &lt;DIR&gt;          img
03/01/2016  10:14 AM             6,118 LICENSE.md
03/01/2016  10:14 AM    &lt;DIR&gt;          linux
03/01/2016  10:14 AM            32,708 LiquidTikZ.tex
03/01/2016  10:14 AM             5,441 README.md
03/01/2016  10:14 AM    &lt;DIR&gt;          Samples
03/01/2016  10:14 AM    &lt;DIR&gt;          source
03/01/2016  10:14 AM    &lt;DIR&gt;          UserCode
               5 File(s)         71,645 bytes
          </pre>
        </div>
      </div>
    </div>

    <div class="step step-none windows-trail" id="step-3">
      <div class="step-number">3</div>
      <h3>Run the app</h3>
      Go into the <strong>C:\Liquid\bin directory</strong> run the app and accept the license:
      <p></p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          &gt; cd \Liquid\bin<br>
          &gt; Liquid.exe <br>
            <pre style="background-color:black;color:white;border-style:none;">
0:0000.0/===================================================================================================
0:0000.0/=    The Language-Integrated Quantum Operations (LIQUi|>) Simulator                               =
0:0000.0/=    is made available under license by Microsoft Corporation                                     =
0:0000.0/=    License terms may be viewed at https://github.com/msr-quarc/Liquid/blob/master/LICENSE.md    =
0:0000.0/=    Please type Y, followed by return, to indicate your acceptance of these terms                =
0:0000.0/===================================================================================================
Y
            </pre>
        </div>
      </div>
    </div>

    <div class="step step-none windows-trail" id="step-4">
      <div class="step-number">4</div>
      <h3>Try a sample</h3>
      Now try running the Quantum "Hello World" ... Teleport (note that there are two underscores in front of Teleport):
      <p></p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          &gt; cd \Liquid\bin<br>
          &gt; Liquid.exe __Teleport()<br>
        </div>
      </div>
    </div>
    <!-- END OF WINDOWS GETTING STARTED -->
