@charset "utf-8";
/* CSS Document */

html {
	width:100%;
	height:100%;
	background-color:#32145a;
}

body {
	width:100%;
	min-width:480px;
	height:100%;
	margin:0px;
	padding:0px;
	background-color:#32145a;
	font-family:Segoe, "Segoe UI", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Segoe, "Segoe UI", Arial, sans-serif;
	line-height:1.1em;
	margin:0px;
	padding:0px;
}

h1 {
	font-size:30px;
	color:#855faf;
	font-weight:600;
	margin:40px 0px 0px 0px;
}

h2 {
	color:#1e1e1e;
	font-size:16px;
	font-weight:700;
	margin-top:36px;
}

p {
	font-family:Segoe, "Segoe UI", Verdana, Arial, sans-serif;
	font-size:13px;
	color: #423b7d;
	line-height:1.4em;
	margin:0px;
	padding:0px;
}

a, a:visited, a:hover {
	color:#8517ab;
	text-decoration:none;
}
a:hover {
	color:#cf17fc;
	text-decoration:underline;
}

img {border:none;}

td {vertical-align:top;}


/* page framing */

.shell {
	width:100%;
	height:100%;
	border-top:4px solid #cf17fc;
}

.header {
	background-color:#f0e6f7;
	width:100%;
	height:146px;
}

.header_inner {
	width:95%;
	margin:0px auto;
}

.siteTitle {
	float:left;
	font-size:33px;
	color:#1e1e1e;
	font-weight:600;
	padding:40px 0px 0px 0px;
}




/* styles for the top nav bar and the logo */

.topnav_items_outer {
	float:right;
	height:52px;
	width:440px;
	padding:20px 14px 0px 20px;
	text-align:right;
}

.topnav_items_outer p {
	height:52px;
	white-space:nowrap;
	margin-top:40px;
}
.topnav_item {

	margin:46px 10px 0px 10px;
}

.topnav_item a, .topnav_item a:visited, .topnav_item a:hover  {
	color:#682079;
	font-size: 15px;
	font-weight:700;
	font-family:Segoe, "Segoe UI", Arial, sans-serif;
	text-decoration: none;
}

.topnav_item a:hover {
	color:#e337ff;
}

.dotNetLogo {
	float:right;
	width:76px;
	height:72px;
	background-image:url(../../../images/Logo_DotNet.png);
	background-size:100%;
	background-repeat:no-repeat;
	margin:14px 0px 0px 18px;
}




/* styles for hero */
.hero_outer {
}

.hero_inner {
}




/* styles for search bar and statistics */
.search_outer {
	width:100%;
	height:109px;
	background-color:#1e1e1e;
}

.search_inner {
	position:relative;
	width:95%;
	margin:0px auto;
	padding:12px 0px 0px 24px;
	color:#f1f1f1;
}

.input_searchbox {
	float:left;
	width: 40%;
	height:48px;
	max-width:400px;
	font-size:16px;
	font-weight:500;
	color:#ffffff;
	padding:0px 0px 0px 56px;
	margin:18px 24px 0px 0px;
	background:#682079 url(../../../images/icon_search.png) no-repeat 12px 8px;
	background-size:30px 30px;
	border-collapse:collapse;
	border:none;
}
.search_result_numbers {
	float:left;
	font-size:14px;
	margin-top:14px;
}

.time_filter select {
	width:130px;
	height:24px;
	font-size:14px;
	font-weight:500;
	background-color:#000000;
	border:1px solid #cf17fc;
	color:#f1f1f1;
	padding-left:6px;
	margin-top:7px;
}

.time_filter option {
	font-size:14px;
	font-weight:500;
	color:#f1f1f1;
}

.search_inner .hilite {
	font-size:16px;
	font-weight:700;
	color:#ffffff;
}

.statistics {
	float:right;
	width:250px;
	height:auto;
	margin:9px 0px 0px 12px;
}

.statistics_numbers {
	float:left;
	margin:0px 12px 0px 12px;
}

td.stat_align_right {
	text-align:right;
	padding-right:12px;
}

.bracket_left {
	float:left;
	background-image:url(../../../images/bracket_left.png);
	background-repeat:no-repeat;
	background-size:100%;
	width:16px;
	height:66px;
}

.bracket_right {
	float:left;
	background-image:url(../../../images/bracket_right.png);
	background-repeat:no-repeat;
	background-size:100%;
	width:16px;
	height:66px;
}




/* paging controls */
.pagingRow {
	width:100%;
	height:42px;
	margin-top:4px;
}
.paging123, .paging123bottom {
	width:100%;
	height:42px;
	margin-top:-36px;
}

.paging123bottom {
	margin-top:18px;
}

.projects_found {
	float:left;
	color:#ffffff;
	font-size:24px;
	font-weight:600;
	margin:0px 24px 6px 12px;
	min-width:280px;
}

.paging_prevNext {
	min-width:280px;
	text-align:center;
	white-space:nowrap;
}

.pageNo, .pageNoSelected {
	margin: 0px 6px;
	font-weight:bold;
	font-size:16px;
	color:#000000;
}

.pageNoSelected {
	color:#fff;
}

.paging_prev, .paging_next  {
	display:inline-block;
	background-image:url(../../../images/icon_pagingPrevNext.png);
	background-repeat:no-repeat;
	background-size:18px 75px;
	background-position:0px 0px;
	width:18px;
	height:18px;
	margin:0px 6px 0px 0px;
	vertical-align:sub;
}

.paging_prevDisabled, .paging_nextDisabled {
	opacity: 0.4;
}

.paging_prev {background-position:0px 0px;}
.paging_prev:hover {background-position:0px -19px;}
.paging_prevDisabled:hover {background-position:0px 0px;}
.paging_next {background-position:0px -38px;}
.paging_next:hover {background-position:0px -57px;}
.paging_nextDisabled:hover {background-position:0px -38px;}

.perPageSelect_Shell {
	float:right;
	width:280px;
	padding-right:40px;
}
.perPageSelect {
	float:right;
	color:#fff;
	margin:0px 0px 0px 50px;
	font-size:13px;
	text-align:right;
}
.perPageSelect select {
	width:70px;
	height:24px;
	font-size:14px;
	font-weight:500;
	background-color:#9868a4;
	border:1px solid #d8c5dc;
	color:#fff;
	padding-left:6px;
	margin:7px; 0px 0px 4px;
}






/* styles for the Project area and cards */
.projects_outer {
	position:relative;
	width:100%;
	height:auto;
	background-color:#854c93;
/*	background-image:url(../../images/bg_gridpattern.gif); */
	background-repeat:repeat;
	border-bottom:4px solid #1e1e1e;
}

.projects_inner {
	width:95%;
	height:auto;
	margin:0px auto;
	padding:12px;
	overflow:hidden;
}

/*
.bg_dots {
	width:100%;
	height:100%;
	background-image:url(../../images/bg_dotpattern.png);
	background-repeat:repeat;
}
*/

.card_container {
	float:left;
	position:relative;
	width:auto;
	height:auto;
	margin:12px;
}

.cardfront {
}

.cardback {
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	transition: opacity 0.2s linear;
}

.card_container:hover .cardback {
	opacity: 1;
	cursor: pointer;
}

.card {
	position:relative;
	width:280px;
	height:220px;
}

.cardfront_color {
	background-color:#f0e6f7;
}

.cardfront_corner_tr, .cardback_corner_tr {
	background-image:url(../../../images/cardcorner_tr.png);
	background-repeat:no-repeat;
	background-size:18px 37px;
	background-position:0px 0px;
	width:18px;
	height:18px;
}

.cardfront_corner_bl, .cardback_corner_bl {
	background-image:url(../../../images/cardcorner_bl.png);
	background-repeat:no-repeat;
	background-size:18px 62px;
	background-position:0px 0px;
	width:18px;
	height:30px;
}

.cardfront_description, .cardback_description {
	padding:0px 12px;
	margin-top:-10px;
	height:134px;
	overflow:hidden;
}

.cardfront_description h2 {
	margin-top:0px;
	font-size:16px;
	font-weight:700;
}

.cardfront_description p {
	color:#423b7d;
	padding-top:6px;
	line-height:1.4em;
}

.cardfront_contributor {
	margin:6px 0px 0px 0px;
	padding:0px;
}
.cardfront .data {
	color:#666666;
}

.cardfront ul {
	margin:0px;
	padding:0px 0px 0px 0px;
}

.cardfront ul li {
	font-family:Segoe, "Segoe UI", Verdana, Arial, sans-serif;
	font-size:13px;
	color: #423b7d;
	line-height:1.4em;
	margin:0px 12px 0px 12px;
	padding:0px;
	list-style-type:none;
/*	list-style-image:url(../../images/bullet.png); */
}

.cardfront_stats_row {
	float:right;
	margin:0px;
	padding:0px;
}

.cardfront_stats {
	font-size:13px;
	font-weight:500;
	color:#666666;
	padding:0px 12px 0px 0px;
}




/* styles for the back of the card */

.cardback_description {
	height:auto;
}

.cardback_description h2 {
	color:#ffffff;
	margin-bottom:4px;
	margin-top:0px;
}

.cardback_description p {
	color:#e4cfff;
	padding-top:6px;
	line-height:1.4em;
}

td.starback_statIcon {
	padding:6px 0px 0px 0px;
	width:18px;
}

td.starback_stat {
	color:#ffffff;
	font-weight:700;
	text-align:right;
	padding:4px 24px 0px 0px;
	width:70px;
}

td.starback_statDescription {
	color:#e4cfff;
	font-size:13px;
	padding:7px 0px 0px 0px;
}

.cardback_color {
	background-color:#36215e;
}

.cardback_corner_bl {
	background-position:0px -32px;
}

.cardback_corner_tr {
	background-position:0 -19px;
}

.cardback .card_description h2 {
	font-color:#ffffff;
}

.cardback_sourcelink {
	position:absolute;
	bottom:12px;
	right:12px;
	text-align:right;
	width:100%;
	line-height:1.1em;
	color:#cf17fc;
	font-weight:600;
}





/* styles for the Participate area */
.participate_outer {
	position:relative;
	width: 100%;
	height:200px;
	background-color:#682079;
	padding:0px;
	margin:0px;
}

.othersites_outer {
	position:relative;
	width: 100%;
	height:200px;
	background-color:#682079;
	padding:0px;
	margin:0px;
	border-top: 4px solid #1e1e1e;
}

.participate_inner {
	width:95%;
	height:auto;
	margin:0px auto;
	text-align:center;
	padding:34px 0px 0px 0px;
}

.participate_inner_tagline {
	font-size:34px;
	color:#ddb5e4;
	line-height:1.7em;
	font-weight:500;
}

.participate_items_outer {
	margin:0px auto;
	height:52px;
	width:550px;
	padding:22px 0px 0px 0px;
}

.participate_item {
	display:inline;
	height:52px;
	margin:0px 18px 0px 18px;
	line-height:2.0em;
}

.participate_inner a,
.participate_inner a:visited,
.participate_inner a:hover {
	color:#ffffff;
	font-family:Segoe, "Segoe UI", Arial, sans-serif;
	text-decoration: none;
	font-weight:700;
}

.participate_inner a:hover {
	color:#e337ff;
}



/* styles for the Contributors area */
.contributors_outer {
	width: 100%;
	height:auto;
	background-color:#ffffff;
}

.contributors_inner {
	width:95%;
	height:auto;
	color:#ae9bb2;
	text-align:center;
	margin:0px auto;
	padding:12px 0px 12px 0px;
	overflow:hidden;
}

.contributors {
	width:100%;
	min-height:120px;
	margin-top:12px;
	text-align:left;
}

.contributors_logo {
	float:left;
	margin:24px 50px 24px 50px;
}




/* styles for content pages such as About */

.content_outer {
	position:relative;
	width:100%;
	height:auto;
	background-color:#ffffff;
	border-bottom:4px solid #1e1e1e;
}

.content_inner {
	width:95%;
	min-height:400px;
	margin:0px auto;
	padding:0px 0px 40px 0px;
	overflow:hidden;
}

.content_inner p,
.content_inner li{
	font-size:14px;
	color:#555555;
	margin:12px 0px 0px 0px;
}
.content_inner ul {
	padding-left:20px;
}
.content_inner p.intro {
	font-size:18px;
	margin:20px 0px 40px 0px;
}
.colLeft {
	float:left;
	width:calc(67% - 40px);
	padding-right:40px;
}

.colRight {
	float:left;
	width:calc(33% - 20px);
	padding:0px 0px 0px 20px;
	margin-top:-10px;
}
.repoLegend {
	font-size:14px;
	margin-top:12px;
	width:90%;
}
.repoLegend td {
	padding-top:12px;
}





/* styles for the Footer */
.footer_outer {
	position:relative;
	width: 100%;
	height:280px;
	background-color:#32145a;
	padding:0px;
	margin:0px;
	color:#bebdff;
}

.footer_inner {
	width:95%;
	margin:0px auto;
	height:auto;
	text-align:center;
	padding:48px 0px 20px 0px;

}

.footer_inner_tagline {
	font-size:28px;
	color:#bebdff;
	line-height:1.7em;
}

.footer_links {
	margin:12px 0px 24px 0px;
	font-weight:500;
	font-size:20px;
}

.footer_inner a, .footer_inner a:visited, .footer_inner a:hover {
	color:#d89ae4;
	text-decoration: none;
}

.footer_inner a:hover {
	color:#e337ff;
}

.footer_inner p {
	font-size:14px;
	padding-top:12px;
	font-weight:400;
	color:#bebdff;
}

.kittie {
	background-image:url(../../../images/kittie.png);
	background-repeat: no-repeat;
	background-size:100%;
	width:32px;
	height:32px;
	margin:24px auto 10px auto;
}




/* Icons 32 x 96 sprite size */
.icon_star,
.icon_star_cardback,
.icon_fork,
.icon_fork_cardback,
.icon_issues,
.icon_issues_cardback,
.icon_contributors,
.icon_contributors_cardback,
.icon_reporank,
.icon_reporank_cardback
{
	background-repeat:no-repeat;
	background-size:16px 48px;
	background-position:0px 0px;
	width:16px;
	height:16px;
	margin:0px;
}

.icon_star,
.icon_star_cardback {
	background-image:url(../../images/icon_star.png);
}
.icon_fork,
.icon_fork_cardback {
	background-image:url(../../images/icon_fork.png);
	margin-top:1px;
}
.icon_issues,
.icon_issues_cardback {
	background-image:url(../../images/icon_issues.png);
}
.icon_contributors,
.icon_contributors_cardback {
	background-image:url(../../images/icon_contributors.png);
}
.icon_reporank,
.icon_reporank_cardback {
	background-image:url(../../images/icon_reporank.png);
}


.icon_star_cardback,
.icon_fork_cardback,
.icon_issues_cardback,
.icon_contributors_cardback,
.icon_reporank_cardback  {
	background-position:0px -32px;
}

.icon_star_cardback:hover,
.icon_fork_cardback:hover,
.icon_issues_cardback:hover,
.icon_contributors_cardback:hover,
.icon_reporank_cardback:hover {
	background-position:0px -16px;
}





/* Icons 32 x 64 sprite size */

.icon_navRight {
	background-repeat:no-repeat;
	background-size:16px 32px;
	background-position:0px 0px;
	width:16px;
	height:16px;
	margin:0px;
}

.icon_navRight {
	background-image:url(../../images/icon_navArrowRight.png);
	float:right;
	margin:2px 0px 0px 6px;
	background-position:0px -16px;
}
