@charset "utf-8";
/* CSS Document */


.siteTitle {

	padding:24px 30px 0px 0px;
}




/* styles for the top nav bar and the logo */

.topnav_items_outer p {
	height:52px;
	white-space:nowrap;
	margin-top:0px;
}

.topnav_item {
	margin:0px 12px 0px 24px;
}

.dotNetLogo {
	margin:-26px 0px 0px 18px;
}



/* styles for search bar and statistics */

.input_searchbox {
	width: 34%;
	margin:18px 12px 0px 0px;
}

.statistics {
	width:200px;
	margin:9px 0px 0px 0px;	
}


/* paging controls */

.paging123{
	float:right;
	height:42px;
	
}
.paging123, .paging123bottom {
	height:30px;
	margin-left:12px;
}
.paging_prevNext {
	text-align:right;
}
.perPageSelect_Shell {
	display:none;
}



.perPageSelect_Shell {
	float:right;
	width:280px;
	padding-right:40px;
}