@charset "utf-8";
/* CSS Document */


.siteTitle {
	font-size:30px;
	padding:20px 30px 10px 0px;
}


/* styles for the top nav bar and the logo */

.topnav_items_outer p {
	height:52px;
	white-space:nowrap;
	margin-top:0px;
}

.topnav_item {
	margin:0px 12px 0px 24px;
}

.dotNetLogo {
	margin:-26px 0px 0px 18px;
}


/* styles for search bar and statistics */
.input_searchbox {
	width: 50%;
}

.statistics {
	display:none;
}


/* paging controls */
.pagingRow {
	margin-top:0px;
}
.paging123, .paging123bottom {
	height:30px;
	margin:6px 0px 0px 12px;
}
.paging_prevNext {
	text-align:left;
}
.perPageSelect_Shell {
	display:none;
}


/* styles for the Project area and cards */
.card_container {
	width:100%;
}
.card{
	width: calc(100% - 24px);
}

.cardback{
	width: 100%;
}


/* styles for content pages such as About*/
.colLeft {
	width:100%;
	padding-right:0px;
}

.colRight {
	width:100%;
	padding:0px;
}



/* styles for the Participate area */
.participate_inner_tagline {
	font-size:32px;
	line-height:1.2em;
}

.participate_items_outer {
	width:auto;
}

.participate_item {
	height:50px;
	margin:0px 30px 0px 30px;
}



/* styles for the Contributors area */
.contributors_logo {
	float:left;
	margin:18px 24px 18px 24px;
}
