{% if page.url != '/core/index.html' %}
  {% assign pathPrefix = '../' %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <!-- include head here -->
  {% include head.html %}
<body>
  <!-- include navigation here -->
  {% include navigation.html %}
  <!-- include hero here if the page is index -->
  {% if page.url == '/' %}
    {% include hero.html %}
  {% endif %}

<div class="container content">
      <!-- CONTENT GOES HERE -->
      {{ content }}


</div>
<!-- FOOTER -->
<!-- include footer here -->
{% include footer.html %}
<script src="/js/commoncode.js"></script>
  </body>
</html>
